* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}
body {
    background-color: #f5f5f5;
}
h1, h2, h3, p {
    color: #202020;
    margin: 5px 15px;
}
button {
    color: #474747;
    border: 1px solid #525252;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 10px 5px;
    cursor: pointer;
}
button:hover {
    color: #010101;
    border: 1px solid #010101;
}
li.list-item {
    font-family: monospace;
    font-size: 12px;
    color: #212121;

    margin: 5px 21px;
}